<h1>Hi</h1>

<form action='/trainings' method='POST'>
    <div><label id='exercise_name'>Excercise Name </label></div>
    <div><input type='text' id='exercise_name' name='exercise_name' ></div>

    <div><input type='submit' id='submit' value='Create your new exercise'></div>
</form>

