@import url(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap" rel="stylesheet")
*{
    padding: 0;
    margin: 0;
}
.wrapper{
    background: url(/images/background.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}
.navbar{
    height: 100px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.logo{
    width: 140px;
    height: auto;
    padding: 20px 100px;
}
.navbar ul{
    float: right;
    margin-right: 20px;
}
.navbar li{
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    line-height: 80px;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 6px 13px;
    transition: 2s;
    font-family: 'Roboto', sans-serif;
}
.navbar ul li a.active,
.navbar ul li a:hover{
    background: red;
    border-radius: 2px;
}
.navbar .current-user{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 6px 13px;
    transition: 2s;
    font-family: 'Roboto', sans-serif;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    user-select: none;
}
.center h1{
    color: white;
    font-size: 70px;
    font-weight: bold;
    width: 900px;
    text-align: center;
}
.center h2{
    color: white;
    font-size: 35px;
    font-weight: bold;
    width: 900px;
    text-align: center;
}
.custom-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    user-select: none;
}
.custom-form .text-input{
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #eee;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.30);
    border-radius:10px;
    width: 70%;
    font-family: sans-serif;
}
.custom-form h1{
    color: white;
    font-size: 30px;
    font-weight: bold;
    width: 900px;
    text-align: left;
}
.custom-form ul li{
    color: white;
    font-size: 30px;
    font-weight: bold;
    width: 900px;
    text-align: left;
}
.custom-form .buttons{
    height: 40px;
    width: 120px;
    font-size: 18px;
    font-weight: bold;
    color: #ffb3b3;
    background: red;
    border: 1px solid #cc0000;
    outline: none;
    cursor: pointer;
    border-radius: 15px;
    transition: .5s;
}
.buttons button:hover{
    background: #cc0000;
}
.custom-form .label{
    position: relative;
    padding-left: 30px;
}
.select{
        width: 100%;
        padding: 10px;
        border-radius: 10px;
}
.message{
    height: 50px;
    width: 100%;
    background: rgba(19, 167, 117, 0.5);
}
.message .flash-text{    
    color: black;
    font-size: 20px;
    font-weight: bold;
    float: right;
    margin: 0;
    padding: 0;
}
.common{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    user-select: none;
}
.common h1{
    color: white;
    font-size: 30px;
    font-weight: bold;
    width: 900px;
    text-align: left;
}
.common ul li{
    color: white;
    font-size: 30px;
    font-weight: bold;
    width: 900px;
    text-align: left;
}
.footer{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    user-select: none;
}
.footer a{
    color: grey;
    font-size: 20px;
    font-weight: bold;
    width: 900px;
    text-align: center;
}
 


  



