<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="UTF=8">
  <title>Sinatra Project</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <div class="common">
        <h1>All the users</h1>
        <ul>
        <% User.all.each do |user|%>
            <li>
                <% if user.name == Helpers.current_user(session).name %>
                    <h1><%= user.name %>. You are a current user. Click <a href="/users/<%= Helpers.current_user(session).slug %>">here</a> to see your workout sessions. </h1>
                <% else %>
                    <h1><%= user.name %>
                <% end %>
            </li>
            <% end %>
        <ul>
    </div>
</body>
</html>
