<h1><a href="/">Home Page</a><<<<<<<<<<<<>>>>>>>>>>>>>>>
                           
<% if Helpers.current_user(session) %> 
    <a href="/logout">Log Out</a> 
<% else %>
<a href="/login">Log In</a>
<% end %>
</h1>

<% flash.keys.each do |type| %>
    <div data-alert class="flash <%= type %> alert-box radius">
      <%= flash[type] %>
    </div>
  <% end %>
<br>
<br>
<%= yield %>