<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="UTF=8">
  <title>Sinatra Project</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <div class="custom-form">
        <form action='/login' method='POST'>
            <input type='text' class="text-input" id='username' name='username' placeholder="Username">
            <input type='text' class="text-input" id='password' name='password' placeholder="Password">
                
            <input type='submit' class="text-input" id='submit' value="Log In" class="buttons" >
        </form>
    </div>
</body>
</html>



