<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="UTF=8">
  <title>Sinatra Project</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <div class="custom-form">
        <form method='POST' action='/signup'>
            <input type=text class="text-input" id='username' name='username' placeholder="Username">
            <input type=text class="text-input" id='name' name='name' placeholder="Name">
            <input type=text class="text-input" id='password' name='password' placeholder="Password">

            <input type='submit' class="buttons" id='submit' value='Sign Up'>
        </form>
    </div>
</body>
</html>






